# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.jks
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
.ruby-version
npm-debug.log*

my-release-key.keystore
okdesk_app.apk
*.apk
*.keystore*
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
res/
src/index.html
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

okdesk_*

.sourcemaps/
www/
build_*.sh
