// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$text-color:        #13171e;
$background-color:  #ffffff;
$background-color-light: #f2f4f6;
$list-selected-background: #dedede;
$border-color: #dedede;
$theme-grey: #8e9eb3;
$theme-light-grey: #e6e9ee;
$main-menu-fast-filter-color: #5a5a5a;
$comment-avatar-size: 40px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #5cb85c,
  primary-low-opacity: rgba(92, 184, 92, 0.4),
  // primary: #b2d17f,
  secondary:  #8e9eb3,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  small-label: #989898,
  favorite:   #b2d17f,
  sub-label: #666666,
  footer-toolbar: #e6e9ee,
  grey-btn-color: #8e9eb3
);


$segment-button-md-border-bottom-width: 0px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
